/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea/
db-data/
redis-data/

/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/shadow-cljs.edn
/.shadow-cljs/
